h1, h2, h3, h4, h5, h6, ul, a, p, body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, a{
    margin: 0 !important;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 30px !important; 
    font-weight: 500 !important;
    color: #5C10FF;
    text-align: center;
    padding: 100px 0;
}

h1 > span {
    font-weight: 700;
}

h2 {
    font-family: 'DM Mono', monospace;
    font-weight: 300 !important;
    font-size: 20px !important;
    color: #414C51;
    padding: 30px 0;
}

h2 > span {
    color: #5C10FF;
}

h3 {
    font-size: 20px !important;
    font-weight: 300;
    padding: 20px 0;
}

h3 > span {
    font-weight: 600;
    color: #ff3c00;
}

h4 {
    font-size: 18px !important;
    line-height: 40px;
    padding: 20px 0;
}

h5, a, button{
    font-family: Dm mono;
}

h5 {
    font-size: 16px !important;
}

a, button {
    font-size: 13px !important;
    letter-spacing: 1.5px;
}

h6 {
    font-size: 18px !important;
    color: #ff3c00;
    padding: 14px 0;
}

p {
    font-size: 14px;
    color: #2A2F31;
    font-weight: 300;
}


a.button, .button{
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: #fff;;
    color: #ff7716;
    border: 3px #ff7716 solid;
}

a.button:hover, .button:hover,
a.button:focus, .button:focus,
a.button:active, .button:active {
    cursor: pointer;
    color:  #FFf;
    border: 3px #ff7716 solid;
    background-color:  #ff7716;
}
/* Header ------------- */

/* Ma navigation + Animations:hover sur mon menu */
nav {
    background-color: #2A2F31 !important;
    min-height: 40px;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #ff7716;
    background-color: #414C51;
}

nav ul li a {
    color: #fff;
    background-color: #2A2F31;
    transition: all 1s ease-out;
}

#second-nav {
    background-color: #f8f8f8 !important;
    margin: 60px 0;
}

#second-nav ul li a {
    color: #5C10FF;
    padding: 0 20px;
    background-color: #f8f8f8 !important;
}

#second-nav ul li a:hover,
#second-nav ul li a:focus {
    color: #fff;
    padding: 0 20px;
    background-color: #5C10FF !important;
    transition: all 0.5s ease-out;
}

/* Page index.html */
.index_grid {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    margin: 50px 97px;
}

.index_grid article p {
    margin: 0 0 50px 0;
}

.index_grid article:first-child p {
    text-align: right;
    padding-left: 150px;
}

.index_grid article:last-child p {
    text-align: left;
    padding-right: 150px;
}

.img {
    min-width: 400px;
    min-height: 500px;
}

.index_img1 {
    background-image: url(/images/moi.jpg);
}

.index_img2 {
    background-image: url(/images/hans.jpg);
}

/* Page index.html - bas de page (boutons du bas) */
.bouton_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px 100px;
    gap: 30px;
}

.bouton_grid > div {
    background-color: #5C10FF;
    text-align: center;
    min-height: 100px;
}

.bouton_grid div:hover,
.bouton_grid div:focus {
    cursor: pointer;
    color: #fff;
    background-color: #ff7716;
}

.bouton_grid div a {
    color: #fff;
    font-size: 18px !important;
    line-height: 100px;
    font-weight: 300;
    transition: all 1s ease-out;
}
/* Page presentation.html------ */
.present_grid {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    margin: 50px 97px;
}

.present_grid div:nth-child(2) {
    background-image: url(/images/moi.jpg);
}

.present_grid div:nth-child(1), div p{
    text-align: right;
}

.present_grid div h5 {
    padding: 20px 0;
}

.cv {
    margin: 0 100px;
    background-color: #fafafa;
    padding: 30px;
}

.cv div h3 {
    color: #ff7716;
    font-size: 18px;
}

.cv div p {
    margin: 20px 0;
    text-align: left;
    font-size: 15px;
}

/* Page réalisations.html ------ */
.real_grid {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 30px 1fr 1fr 50px;
    margin: 100px 147px 50px 147px;
    gap: 30px;
}

.real_img {
    min-width: 350px;
    min-height: 300px;
}

.real_txt {
    margin: 0 100px;
}

.real_grid h3, .real_grid2 h3 {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.real_grid div:nth-child(2) {
    background-image: url(/images/evo.jpg);
    grid-row: 2;
}

.real_grid div:nth-child(3) {
    background-image: url(/images/cell.jpg);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}

.real_grid div:nth-child(4) {
    background-image: url(/images/moodboard.jpg);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
}

.real_grid div:nth-child(5) {
    background-image: url(/images/projet-flamand.jpg);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
}

.real_grid2 {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 30px 1fr 1fr 50px;
    margin: 50px 147px 100px 147px;
    gap: 30px;
}

.real_grid2 div:nth-child(2){
    background-image: url(/images/poke.jpg);

    grid-row: 2;
}

.real_grid2 div:nth-child(3){
    background-image: url(/images/effix2.jpg);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}

.real_grid2 div:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 2;
    background-image: url(/images/effix3.jpg);
}

.real_grid2 a, .real_grid a{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 4;
}

/* Mes réalisations  > conception------ */
.tech_grid {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px 147px;
    gap: 30px;
}

.tech_grid div:nth-child(1){
    background-image: url(/images/poke.jpg);
}

.tech_grid div:nth-child(4){
    background-image: url(/images/effix2.jpg);
}

.tech_grid div:nth-child(5){
    background-image: url(/images/effix3.jpg);
}

.design_grid {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 50px 147px;
    gap: 30px;
}

.design_grid div:nth-child(1){
    background-image: url(/images/evo.jpg);
}

.design_grid div:nth-child(4){
    background-image: url(/images/moodboard.jpg);
}

.design_grid div:nth-child(5){
    background-image: url(/images/projet-flamand.jpg);
}

.design_grid div:nth-child(8){
    background-image: url(/images/cell.jpg);
}

/* Contact ------ */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    margin: 100px 0;
}

.contact-grid > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-grid > h5 {
    padding: 15px 0;
}

/* Blog ------ */
.blog {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 100px;
    gap: 30px;
}

.blog article {
    border-top: #414C51 3px solid;
    padding: 30px 20px;
}

.blog article p {
    text-align: left;
    margin: 0 0 50px 0;
}

/* Article dans blog ------ */
.part-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
    gap: 60px;
}

.part-grid  article {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 30px 20px;
    border-top: #414C51 3px solid;
    border-bottom: #414C51 3px solid;
}

.part-grid article p {
    text-align: left;
}

.part-grid  div {
    background-color: #eaeaea;
    min-height: 200px;
}

/* Mon formulaire ----- */
.form-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px 100px 40px 90px;
    gap: 30px;
    margin: 0 97px;
    margin-top: 50px;
}

.form {
    text-align: center;
}

#prenom {
    grid-column-start: 1;
    grid-column-end: 2;
}

#nom {
    grid-column-start: 2;
    grid-column-end: 3;
}

#courriel, #telephone, #captcha, #commentaire {
    grid-column-start: 1;
    grid-column-end: 3;
}

textarea {
    resize: none;
    min-height: 100px;
}

input::placeholder, textarea::placeholder {
    color: #5c10ffc4;
}

::placeholder, select, input, label, textarea {
    font-family: montserrat;
    font-size: 16px !important;
    cursor: pointer;
}

#soumettre {
    font-family: Dm mono !important;
    font-size: 13px !important;
    cursor: pointer;
    padding: 0;
    margin-left: 200px;
    grid-column-start: 2;
}

/* La publicité en bas des pages*/

.pub {
    padding: 20px 0 40px 0;
    margin: 50px 97px;
    min-height: 200px;
}

.pub p {
    margin: 0 0 50px 0;
}

.pub, .pub a {
    background-color: #f8f8f8;
}

/* Mon footer ------ */
footer {
    background-color: #2A2F31;
    min-height: 200px;
    text-align: center;
}

footer > h5 {
    line-height: 200px;
    color: #fff;
    font-weight: 700;
}

/* Animation infolettre ------------- */
#newsletter_form {
    background-color: #fff;
    min-height: 320px;
    min-width: 500px;
    padding: 0 50px 40px 50px;
    position: fixed;
    top: 100px;
    left: 400px;
    right: 400px;
    box-shadow: 0 8px 6px -6px black;
    display: none;
    border: 5px solid #5C10FF;
}

.shadow {
    background-color: #0f0f0f3a;
}

#newsletter_button {
    font-family: Dm mono;
    cursor: pointer;
}

#newsletter_button:hover{
    background-color: #ff7716;
}

.close {
    margin-top: 0 !important;
    border: none;
    background-color: #fff;
    color: #ff3c00;
    font-size: 15px;
    font-weight: 600;
    text-align: right !important;
}

#newsletter_form > h3, p, button {
    text-align: center;
}

#newsletter_form h3 {
    padding: 60px 0 35px 0;
}

#newsletter_form input {
    margin: 15px 0;
}

#newsletter_form::placeholder {
    color: #5c10ffc4;
}

#newsletter_form > .button {
    margin: 20px 0 !important;
    background-color: #fff;
}

#newsletter_form > button:hover {
    background-color: #ff7716;
    color: #fff;
}

#newsletter_form > .close:hover {
    color: #5C10FF;
    background-color: #fff;
    border: none;
}

#abonnement{
    margin-bottom: 100px;
    padding: 30px;
}

#abonnement p {
    margin-bottom: 40px;
}

/* Animation SVG */
.infini {
    animation-iteration-count: infinite;
}

@keyframes barres {
    from {
        fill: #fff;
    }
  
    to {
        fill: #ff3c00;
    }
  }

#icone .barres {
    fill: #ff7716;
    animation-name: barres;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

/* Animation aux scrolls des pages */
.opacity {
    animation: change 2s linear both;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
  
@keyframes change {


    5% {
        opacity: 1;
        transform: translateX(0);
    }

    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
}

.cercle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    animation: animCercle 8s ease-in-out 3 none;
    background-color: #5C10FF;
    opacity: 0;
    top: 1%;
    left: 1%;
}

@keyframes animCercle {
    25%{
        left: calc(99% - 200px);
        top: 1%;
        background-color: #5C10FF;
        opacity: 1;
    }

    50%{
        top: calc(99% - 10px);
        left: calc(99% - 10px);
        background-color: #ff3c00;
        opacity: 1;
    }

    75%{
        top: calc(99% - 20px);
        left: 1%;
        background-color: #ff7716;
        opacity: 1;
    }

    100%{
        background-color: #5C10FF;
        opacity: 1;
    }
}
